body {
    background: rgb(200, 228, 231);
  } 

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman'
}

h3 {
    font-family: 'Times New Roman'
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    float: left;
    text-align: center;
    width: 25%;
}

img {
    width:  338px;
    height: 500px;
    object-fit: cover;
}

div {
    float: left;
    text-align: center;
    width: 25%;
}